html {
    font-size: px;
    font-family: "Delicious Handrawn";
}
h1 {
    font-size: 60px;
    text-align: center;
}
p, li {
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(240, 206, 248);
    padding: 0 200px 200px 200px;
    border: 10px solid rgb(0, 0, 0);
}
img {
    width: 1000px;
    display: block;
    margin: 0 auto;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: #05050500;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.384)
}
html {
    background-color: #000305;
}